@font-face {
  font-family: 'icons';
  src: url('/fonts/icons.eot?v=1');
  src: url('/fonts/icons.eot?v=1#iefix') format('embedded-opentype'),
       url('/fonts/icons.woff?v=1') format('woff'),
       url('/fonts/icons.ttf?v=1') format('truetype'),
       url('/fonts/icons.svg?v=1#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-ghost:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-google-plus:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-arrow-left:before { content: '\e806'; } /* '' */
.icon-stats:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-github:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-reddit:before { content: '\e80c'; } /* '' */
.icon-stackoverflow:before { content: '\e80d'; } /* '' */
.icon-skype:before { content: '\e80e'; } /* '' */
.icon-instagram:before { content: '\e80f'; } /* '' */
.icon-feed:before { content: '\e810'; } /* '' */

@font-face {
  font-family: 'Sansation';
  src: url('/fonts/sansation.eot?v=1'); /* IE9 Compat Modes */
  src: url('/fonts/sansation.eot?v=1#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/sansation.woff2?v=1') format('woff2'), /* Super Modern Browsers */
       url('/fonts/sansation.woff?v=1') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/sansation.ttf?v=1')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/sansation.svg?v=1') format('svg'); /* Legacy iOS */
}

body {
    margin: 0;
    font-family: "Sansation", sans-serif;
}

.container {
    margin: 0 auto 0 auto;
    width: 470px;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.nav {
    padding-bottom: 5px;
    color: #BBC7CC;
    text-align: center;
}

.footer {
    font-size: 11px;
    color: #BBC7CC;
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    text-align: center;
}

.footer a, .nav a {
    color: #BBC7CC;
    text-decoration: none;
}

.footer a:hover, .nav a:hover {
    color: #111;
}

span.email {
  direction: rtl;
  unicode-bidi: bidi-override;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

@media only screen and (max-width: 900px) {

    .container {
        width: 100%;
    }
    
}
